
.header{
  height: 12rem;
  width: auto;
  /* background-color: #E9EEF6; */
  padding-top: 3.125rem;
  border-radius: 0rem 0rem 3rem 3rem;
  background-attachment: fixed;
  background-image: url('./assets/Images/HEADER-BACKGROUND.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 300px; 
  background-attachment: fixed;
}

@media (max-width: 320px) {
  .header{
    background-attachment: scroll;
  }
}

@media (min-width: 345px) {
  .card-wrapper {
  min-width: 20rem;
  width: 100%;
  }

  .header{
    background-attachment: scroll;
  }
}

@media (min-width: 425px) {
.card-wrapper{
  min-width: 20rem;
  width: 100%;
}

.header{
  background-attachment: scroll;
}
}

@media (min-width: 768px ){
  .header{
    background-attachment: fixed;
  }
}
@media (min-width: 1024px ){
  .header{
    background-attachment: fixed;
  }
}
@media (min-width: 1440px ){
  .header{
    background-attachment: fixed;
  }
}
@media (min-width: 2560px ){
  .header{
    background-attachment: fixed;
    height: 25rem;
  }
}





.header h2{
  background: linear-gradient(145deg, #FFF, #FFF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
  text-transform: uppercase;
  font-family: Calibri;
  text-align: center;
  font-weight: 600;
  
}

#button {
  margin-left: auto;
  font-family: Calibri;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  /* background-color: #000; */
  background-image: linear-gradient(180deg, #570987, #570987);
  color: #FFF;
  border: none;
  cursor: pointer;
}

.btn-hover-effect:click{
  background-color: #F6F7F8;
  cursor: wait;
}
.card-container{
height: 18.75rem;
width: 18.75rem;
 box-shadow: 0rem 0.188rem 3.125rem #A5A5A5;
}

.card-wrapper{
  width: 16.875rem;
  height: 12.5rem;
  box-shadow: 0rem 0.188rem 3.125rem #A5A5A5;
  display: flex;
  flex-direction: column;
  
}

.card-top{
width: 100%;
height: 2%;
}

.task-holder{
  width: 100%;
  height: 98%;
  padding: 0.625rem 0.625rem;
  display: flex;
  flex-direction: column;
  position: relative;
  
}

.card-header{
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  width: auto;
  height: 1.875rem;
  padding: 0.063rem 0.063rem !important;
  text-align: center;
}

.task-container{
  height: 37.5rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #F6F7F8;
  padding : 2.5rem 6.25rem;
  overflow-y: scroll;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 320px) {
  .card-wrapper{
    min-width: 16rem;
    width: 100%;
  }
    
  
}